.clearfix::after { 
    content: '';
    display: block; 
    clear: both;
}

.header{
    height: 100px;
    width: 400px;
    background-color: #141f40;
}

.left{
    height: 250px;
    width: 150px;
    float:left;
    background-color: #80bfa8;
}

.right{
    height: 250px;
    width: 250px;
    float:left;
    background-color: #8c2727;
}

.footer{
    height: 100px;
    width: 400px;
    background-color: #d98d30;
}